<IfModule mod_rewrite.c>
    RewriteEngine On

    # Forçar HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Definir Ambiente como Produção para o CodeIgniter
    SetEnv CI_ENV production

    # CodeIgniter Rewrite Rule
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

    # Proteger arquivos sensíveis e de sistema
    <FilesMatch "^\.">
        Order allow,deny
        Deny from all
    </FilesMatch>

    <FilesMatch "(^#.*#|\.(bak|conf|dist|fla|in[ci]|log|psd|sh|sql|sw[op])|~)$">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>
